<!doctype html>
<html lang="fr" class="dark h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MikroCode liste de commandes terminal pour Linux">
        <meta name="author" content="Simon Chabrier">
        <meta name="keywords" content="Linux, Commandes, Terminal, Administration, Réseau, Système, MikroCode">

        <title>{% block title %}Gestionnaire de Commandes{% endblock %}</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        >
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"></noscript>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body
        class="bg-gray-950 text-gray-100 font-sans min-h-screen flex flex-col h-full"
        {% if app.current_route == 'app_home' %}
            data-controller="commands-ui commands-api"
            {# ecoute des evénements personnalisés pour la communication entre les contrôleurs Stimulus #}
            data-action="commands-ui:requestLoad->commands-api#loadCommands commands-ui:requestCreate->commands-api#create commands-ui:requestUpdate->commands-api#update commands-ui:requestDelete->commands-api#delete commands-api:loaded->commands-ui#onLoaded commands-api:created->commands-ui#onCreated commands-api:updated->commands-ui#onUpdated commands-api:deleted->commands-ui#onDeleted commands-api:error->commands-ui#onError"
        {% endif %}
    >
        {% block body %}{% endblock %}
    </body>
</html>
