<!doctype html>
<html lang="fr" class="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MikroCode liste de commandes terminal pour Linux">
        <meta name="author" content="Simon Chabrier">
        <meta name="keywords" content="Linux, Commandes, Terminal, Administration, Réseau, Système, MikroCode">

        <title>{% block title %}Gestionnaire de Commandes{% endblock %}</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body
        class="bg-gray-950 text-gray-100 font-sans min-h-screen flex flex-col"
        data-controller="commands"
    >
        {% block body %}{% endblock %}
    </body>
</html>
